// background colors
$bg-gray: #f8f8f8;
$bg-white: #ffffff;

// text color
$text-black: #010103;

$text-yoyo: #019999;
$text-ami: #262642;
$text-twizy: #FE3399;


$btn-black: #161616;
$text-gray: #706f7b;

//Car Colors
$yoyo-bg: #E4FAF9;
$ami-bg: #FEFCED;
$twizy-bg:#FFF2FB
