//Import font
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');

// font family

$titles-font: "DM Sans", sans-serif;
$text-font: "DM Sans", sans-serif;

// sizes
$h1-size: 5.2rem;
$p-weight: 1000;

$h2-size: 4.2rem;
$p-weight: 800;

$h3-size: 2.4rem;

$h4-size: 2.2rem;

$p-size: 1.75rem;
$p-weight: 200;

$input-size: 1.4rem;
