/* SwitchSelector.scss */

.switch-container {
    display: flex;
    width: 50%;
    height: 70px;
    margin: 0 auto;
    border-radius: 300px; /* ou qualquer valor que você preferir */
    overflow: hidden;
    margin-top: 3rem;
    
    @media (max-width: 1000px) {
        width: 100%;
    }
  }
  

.custom-switch-selector {
    margin-top: 1100px;
}

.teste {
}
  