@use "../global/" as *;

.Ride-section {
    width: 100%;
    height: auto;
    background: white;
    padding-top: 4rem;

    .ride-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: #F3F4F7;
        border-radius: 2rem;
        height: 30vh;

        @media (max-width:1000px) {
            height: 20vh;

            h1 {
                font-size: $h3-size;
            }

            h3 {
                font-size: $p-size;  
            }
        }
    }

    h1 {
        font-weight: 800;
        font-size: $h2-size;
        color: #FE3399;  
    }

    h3 {
        font-size: $h3-size;
        font-weight: 300;
        padding-top: 1rem;   
    }
}
